#list_group {
  border-radius: 1rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
  border-top-color: rgba(225, 225, 225, 0.5);
  border-left-color: rgba(225, 225, 225, 0.5);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-right-color: rgba(225, 225, 225, 0.1);
  position: relative;
  background-color: rgba(225, 225, 225, 0.1);
  color: azure;
}
.color_icon {
  color: #fc6401;
  font-size: small;
}

.trash_icon {
  color: rgb(227, 79, 79);
  font-size: small;
}
