.body_back {
  background-image: url("pack.jpeg");

  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #a297d1;
}
.main_form {
  background-color: rgba(225, 225, 225, 0.1);
  border-radius: 1rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
  border-top-color: rgba(225, 225, 225, 0.5);
  border-left-color: rgba(225, 225, 225, 0.5);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-right-color: rgba(225, 225, 225, 0.1);
  text-align: center;
}

.login {
  height: 450px;
  width: 400px !important;
}

.sign_in {
  background: #ce9f11;
  /* width: 100px; */
}

.login_button {
  width: 100%;
}

.google_button {
  width: 100%;
}
.icon_background {
  background-color: #7c749c;
}

/* .body_register{
  background-color: aquamarine;
} */
