.home {
  background-image: url("newPic.jpeg");

  color: rgb(235, 227, 227);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
