
.main_form{
    
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(234, 235, 237, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
   
 }

.login{
  height: 400px;
  width: 400px !important;
}